av
psutil
setuptools
git+https://github.com/Ripeey/Conversation-Pyrogram
python-magic
lottie
telegraph
pytz
pymediainfo
Pillow
py-tgcalls
cryptg
kurigram
convopyro
TgCrypto
pymongo
requests
lxml
fake_useragent
imageio
imageio-ffmpeg
opencv-python-headless
python-ffmpeg
yt-dlp[default]
pytesseract
moviepy==1.0.3
google-genai
google-generativeai
certifi
pyrogram
